.background {
  viewport-fill: darkslategrey;
}

#myLabel {
  font-size: 80;
  font-family: Seville-Condensed;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+20;
  fill: cyan;
}

arc{
  opacity:0.6;
}

#arcOne {
  
}

#txtSteps {
  font-size: 55;
  font-family: Seville-Condensed;
  text-length: 35;
  text-anchor: middle;
  x: 50%;
  y: 80%+10;
  fill: cyan;
}
